
.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Section-1 */

.nav-brand{
  width: 12rem;
  height: 40px;
  padding-left: 4rem;
}
.search-bar{
  width: 450px;
  height: 30px;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
   color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 5px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.navbar-nav{
  padding-right: 7rem;
  font-size: 12px;
}
.cart{
  font-size: 20px;
}


/* SECTION-2 */

.sec2-nav{
  font-size: 18px;
  margin-left: 4rem;
  font-size: 12px;
  font-weight: bolder;
}
.sec2-item{
  padding-left: 10px;
}
.nav-bg{
  background-color: #ffe227;
}


/* SECTION-3 */

.carousel-inner{
  height: 400px;
}
.sec3-item , img{
  height: 100%;
  width: 100%;
}

/* SECTION-4 */

#sec-4{
  background-color: #e7e6e1;
  padding-left: 9rem;
  padding-right: 9rem;
}
.sec4-h3{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.mb-0{
  text-align: left;
  padding-top: 30px;
  margin-bottom: 0%;
}
.card-title{
  text-align: left;
  color: #575756;
  padding-right: 8rem;
}
.card-title1{
  text-align: left;
  color: #575756;
  padding-right: 12.5rem;
}
.cards-1{
  padding-top: 2rem;
}
.sec4-btn{
  height: 150px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.sec4-btn:hover, .sec4-btn:focus, .sec4-btn:active, .sec4-btn.active, .open>.dropdown-toggle.sec4-btn{
  color: #fff;
  border-color: #12171b; 
}

/* SECTION-5 */

#sec5-card{
  padding-left: 9rem;
  padding-right: 9rem;
}
.sec5-h4{
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* SECTION-6 */

#sec6{
  padding-left: 8rem;
  padding-right: 2rem;
}
.hz{
  height: 90%;
  width: 200%;
  /* padding-left: 1rem; */
}
.vr{
  height: 90%;
  width: 95%;
  
}
.vr1{
  height: 90%;
  width: 95%;
  /* padding-left: 4rem; */
}
.sec6-h4{
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  align-content: center;
}

/* SECTION-7 */

#sec7-card{
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 3rem;
  margin-right: 2rem ;
}

/* SECTION-8 */

#sec8-card{
  padding-left: 9rem;
  padding-right: 9rem;
  background-color: #e7e6e1 ;
}

.sec8-img{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.sec8-img1{
  padding-bottom: 1rem;
}
.sec8-img2{
  height: 4rem;
  padding-bottom: 2rem;
}

/* SECTION-9 */
#sec9{
  background-color: #c8eed9;
}
#footer-icons{
  padding-left: 10rem;
  padding-top: 3rem;
  text-align: center;
  margin-left: 12rem;
}

/* SECTION-10 */

#sec10{
  background-color: #c8eed9;
  padding-left: 5rem;
  padding-right: 5rem;
}
/* .sec10-cd{
  /* padding-top: 1rem;
  padding-left: 9rem; */
 */
h6{
  color:#575756;
}


/* SECTION-11 */

#final{
  background-color: #c8eed9;
}
